.adContainer{
  /* border: solid blue; */
  background-color: rgb(185, 208, 186);
  height: 8vh;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar{
  /* border: solid blue; */
  background-color: white;
  height: 8vh;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftArrow{
  /* border: solid red; */
  font-weight: bold;
  background-color: rgb(185, 208, 186);
  border: none;
}

.rightArrow{
  /* border: solid red; */
  font-weight: bold;
  background-color: rgb(185, 208, 186);
  border: none;
}


.adTxt{
  /* border: solid orange; */
  font-weight: bold;
}

.mainPic{
  width: 100%;
}

#learnLink{
  color: black;
}